.profile__add-photo-text
{
  margin: 0;
  padding: 0;

  background-image: url(../../../images/add.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
}

@media screen and (max-width: 1280px)
{
  .profile__add-photo-text
  {
    background-size: calc(0.00625*100vw + 14px);
  }
}
