.popup__input {
  margin: 0 64px 30px;
  padding: 0;
  padding-bottom: 10px;

  width: calc(430px - 2*64px);

  border: none;
  border-bottom: 1px solid black;

  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
  .popup__input {
    margin: 0 22px 30px;
    width: calc(282px - 2*22px);
  }
}