.profile
{
  margin: 0;
  padding: 0;
  padding-bottom: 47px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  justify-content: start;
  
  box-sizing: border-box;
  align-items: center;
}