.profile__edit
{
  margin: 0;
  margin-left: 18px;
  padding: 0;

  background-image: url(../../../images/edit-pen.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;

  width: 24px;
  height: 24px;

  border: 1px solid white;
}

.profile__edit:hover
{
  opacity: 60%;
}

@media screen and (max-width: 1280px)
{
  .profile__edit
  {
    margin-left: calc(0.008333333*100vw + 7.333333333px);
    width: calc((0.015625*100vw + 22px) * 0.57143);
    height: calc((0.015625*100vw + 22px) * 0.57143);
  }
}
