.popup__close
{
  margin: 0;
  padding: 0;

  background-image: url(../../../images/close-icon.svg);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;

  width: 32px;
  height: 32px;

  position: absolute;
  right: -32px;
  top: -32px;
}

.popup__close:hover
{
  opacity: 60%;
}