.profile__avatar {
  margin: 2px 31px 2px 0px;
  padding: 0;

  box-sizing: border-box;
  width: 118px;
  border-radius: 59px;
}

@media screen and (max-width: 800px) {
  .profile__avatar {
    margin: 2px auto 22px;
  }
}