.profile__avatar
{
  margin: 2px 22px 2px 0px;
  padding: 0;

  box-sizing: border-box;
  width: 128px;
  border-radius: 64px;
}

@media screen and (max-width: 800px)
{
  .profile__avatar
  {
    margin: 2px auto 22px;
  }
}