.profile__info
{
  margin: 0;
  padding: 0;

  color: white;

  display: flex;
  position: relative;
  flex-direction: column;
}

@media screen and (max-width: 800px)
{
  .profile__info
  {
    align-items: center;
  }
}