.elements__heart {
  margin: 0 22px;
  padding: 0;

  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;

  min-width: 22px;
  height: 22px;

  cursor: pointer;
  border: none;
}

.elements__heart:hover {
  background-image: url(../../../images/heart_5.svg);
}